<div class="tab" {{ if eq .Index 0 }}style="display: block;"{{ end }}>
    {{ if .Tab.id }}<h3>{{ .Tab.id }}</h3>{{ end }}

    {{ if .Tab.text }}
        <div class="tab__entry">
            {{ .Tab.text | safeHTML }}
        </div><!-- /.tab__entry -->
    {{ end }}

	{{ if .Tab.buttons }}
		<div class="tab__actions">
			<ul>
				{{ range $buttonIndex, $button := .Tab.buttons }}
					<li>
						{{ partial "common/button.html" (dict "text" $button.text "url" $button.href) }}
					</li>
				{{ end }}
			</ul>
		</div><!-- /.tab__actions -->
	{{ end }}
</div><!-- /.tab -->
