{{ define "main" }}
	{{ partial "section-intro.html" (index .Site.Data.intros "intro-1") }}

	<section class="section-tabs bg--gray">
		<div class="shell shell--large">
			<header class="section__head">
				<h2>USE CASES</h2>

				<img src="/line-dec.webp" alt="Line Decoration">

				<p>Checkout some of the use cases below for both EdgeWorkers & EdgeKV working in action.</p>
			</header><!-- /.section__head -->

			<div class="section__body">
				{{ partial "tabs.html" . }}
			</div><!-- /.section__body -->
		</div><!-- /.shell -->
	</section>

	<section class="section-tabs">
		<div class="shell">
			<header class="section__head">
				<h2><span>edge compute</span>  solutions</h2>

				<img src="/line-dec.webp" alt="Line Decoration">

				<p>Innovate in real time with the world’s largest serverless compute platform, Akamai puts your code <br> closer to your users.</p>
			</header><!-- /.section__head -->

			<div class="section__body">
				{{ partial "alternative-tabs.html" . }}
			</div><!-- /.section__body -->
		</div><!-- /.shell -->
	</section><!-- /.section- -->
{{ end }}
